<%- include('../partials/header', { pageTitle: 'Add Ticket' }) %>

<form action="/flights/<%= flightId %>/tickets" method="POST"> SEAT
    <input type="text" id="seatInput" name="seat" placeholder="Seat" pattern="[A-F][1-9]\d?" required>
    PRICE
    <input type="number" name="price" placeholder="Price" required>
    <button type="submit">Create Ticket</button>
</form>


<%- include('../partials/footer') %>
